python
python-dotenv
kami-logging
kami-messenger
kami-gdrive
pandas
openpyxl
xlsxwriter
jinja2
dash
plotly
dash-bootstrap-components
dash-bootstrap-templates
pymysql
sqlalchemy
dash-labs
numerize
flask-caching
unidecode
gunicorn